.list {
  margin: 0;
  padding: 0;

  padding-top: 25px;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  align-items: center;
  justify-content: center;
  padding-left: -40px;
}
