.subBoard {
  margin: 10px;
}

.locker {
  width: 30px;
  height: auto;
}

.locker:hover {
  color: brown;
  cursor: pointer;
}

.locker:active {
  color: rgb(109, 27, 27);
}

.ReactMarkdown {
  width: 500px;
}
